@page
@using ShakenOrStirred.Model
@model ShakenOrStirred.Pages.Shaken.IndexModel
@{
}



<div class="border container" style="padding:30px;">
    <table class="table">
        <thead>
            <tr>
                <th>Drink Name</th>
                <th>Instructions</th>
                <th>Ingredient</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model.DrinkSet)
            {
                <tr>
                    <td>@d.strDrink</td>
                    <td>@d.strInstructions</td>
                    <td>@d.strIngredient1</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
