@page
@using ShakenOrStirred.Model
@model ShakenOrStirred.Pages.Shaken.IndexModel
@{
}


<table>
    <thead>
        <tr>
            <th>Drink Name</th>
            <th>Instructions</th>
            <th>Ingredient</th>
        </tr>
    </thead>
    <tbody>


        @* @foreach (var d in List2)
        {
            <tr>
                    <td>
                        @d.Drinks
                    </td>
            </tr>
            foreach (var a in d.Drinks)
            {
                <tr>
                    <td>
                        @a.strDrink
                    </td>
                    <td>
                        @a.strInstructions
                    </td>
                    <td>
                        @a.strIngredient1
                    </td>
                </tr>
            }
        } *@


    </tbody>
</table>

</div>
