@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Shaken</h1>
    <h2>This Application is designed with your bar in mind</h2>
    <p>
        How To Use:<br />
        1.) Search by Spirit
    </p>
</div>
