@page
@using ShakenOrStirred.Model
@model ShakenOrStirred.Pages.Shaken.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Shaken</h1>
    <h2>This Application is designed with your bar in mind</h2>
    <p>
        How To Use:<br />
        1.) Search by Spirit
    </p>
</div>

<div class="border container" style="padding:30px;">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label>Drink Name</label>
            </div>
            <div class="col-6">
                <input class="form-control" />
            </div>
        </div>
        <span class="text-danger"></span>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <button method="post" asp-page-handler="LoadSearch">Search</button>
            </div>
        </div>
    </form>
 